header{
    height: 100px;
    margin: 10px;
    border-radius: 8px;
    box-shadow: 2px 4px 8px 2px rgba(0, 0, 0, 0.2), 2px 6px 20px 2px rgba(0, 0, 0, 0.19);
}
.container{
    display: flex;
    justify-content: space-between;
    padding: 30px;
}
.container a{
    text-decoration: none;
    color: #479f65;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
}
header .left{
    display: flex;
    align-items: center;
}
.left i{
   color: white;
}
header .right{
    display: flex;
    align-items: center;
    column-gap: 30px;
}
.right button{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    border: 1px solid;
    border-radius: 5px;
    background-color: #479f65;
    color: #fdfffd;
    padding: 10px;
}
@media screen and (min-width: 769px) and (max-width: 1279px) {
    header{
        background-color: #479f65;
        height: auto;
    }
    .container a{
        color: white;
    }
    header .right button{
        background-color: white;
        color: #479f65;
    }
    header .right, .left {
        justify-content: space-between;
    }
    .right a{
        font-weight: 100;
    }
    header .container{
        flex-direction: column;
        row-gap: 15px;
    }
}
@media screen and (max-width: 768px) {
    header{
        height: auto;
    }
    header .container{
        flex-direction: column;
    }
    header .right{
        flex-direction: column;
        row-gap: 25px;
        padding: 5px;
    }
    header .left{
        justify-content: space-between;
    }
    header{
        background-color: #479f65;
    }
    .container a{
        color: white;
    }
    header .right button{
        background-color: white;
        color: #479f65;
    }
    .right a{
        font-weight: 100;
    }
}